@font-face {font-family: "Chlakh";
    src: url("http://db.onlinewebfonts.com/t/3516b742bdc18fcfacf8c27ed2cdea67.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/3516b742bdc18fcfacf8c27ed2cdea67.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/3516b742bdc18fcfacf8c27ed2cdea67.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3516b742bdc18fcfacf8c27ed2cdea67.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3516b742bdc18fcfacf8c27ed2cdea67.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/3516b742bdc18fcfacf8c27ed2cdea67.svg#Chlakh") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #d9efe8;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 2rem;
}

.navbar h1 {
    color: #000;
    font-size: 5rem;
    font-family: 'Chlakh', sans-serif;
}

#frist-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#frist-section .container {
    width: 50rem;
    height: 100%;
    margin-top: 6rem;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 10px;
}

#frist-section .container img {
    width: 100%;
    border-radius: 10px;
}

#frist-section .container h1 {
    font-size: 4rem;
    margin-top: 2rem;
    font-family: 'Chlakh', sans-serif;
}

#frist-section .container p {
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

#frist-section .container h1::selection,
#frist-section .container p::selection {
    background-color: #99f5d8;
}

#second-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-section .container {
    width: 55rem;
    height: 100%;
    margin-top: 6rem;
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 10px;
}

#second-section .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#second-section .container form h2 {
    font-size: 2.5rem;
    font-family: 'Chlakh', sans-serif;
}

#second-section .container form h2::selection {
    background-color: #99f5d8;
}

#second-section .container form input {
    margin-top: 2rem;
    padding: 1rem 1.2rem;
    width: 35rem;
    border: 1px solid #d9efe8;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#second-section .container form input:focus {
    outline: 1.5px solid #99f5d8;
}

#second-section .container form button {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background-color: transparent;
    border: 1px solid #d9efe8;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

#second-section .container form button:hover {
    outline: 1.5px solid #99f5d8;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 30px;
    color: #000;
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}


